body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.topBar-container{
  padding: .8rem;
  padding-bottom: 0rem;
  background-color: #1d1e22;
  height: auto;
}

.top-bar{
  border-radius: 1rem;
}

.outputText{
  border-radius: 1rem;
  height: 100% !important;
  background-color: #ffffff;
  border-width: 0;
  padding: 5rem;
  font-size: 20px;
  font-family: monospace;
  outline: 0;
}

.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .8rem;
  background-color: #1d1e22;
  height: auto;
}

.CodeMirror {
  height: 90vh !important;
  font-size: 20px !important;
  font-family: monospace;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.home {
  border-radius: 1rem,
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
