icg/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
pip-log.txt
*.egg-info/
dist/
build/
.eggs/
*.egg
.installed.cfg
*.egg-info
MANIFEST
*.manifest
sdist/
develop-eggs/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.hypothesis/
.tox/
.nox/
.venv/
.env/
env/
venv/
ENV/
env.bak/
venv.bak/
pyvenv.cfg
